body {
    background-color: #896A4D;
    font-size: 14px;
    color: black;
}

/* Header styling */
#header-nav {
    background-color: #706642;
    border-radius: 0;
    border: 0;
    position: static;
}

.navbar-header {
    display: flex;
    align-items: flex-start;
}

/* Remove padding and margin from the navbar and container */
.navbar-header, .navbar {
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 0;
    margin-left: 0;
}

/* Logo image, visible only on medium and large screens */
#logo-img {
    background: url('../images/Holfta_logo.png') no-repeat;
    width: 110px;
    height: 110px;
    background-size: contain;
}

/* Navbar brand styling */
.navbar-brand {
    padding-top: 20px;
    margin-left: 15px;
}

.navbar-brand h1 {
    color: black;
    text-shadow: 1px 1px 1px gray;
    font-size: 5vw;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* Navbar toggle button */
.navbar-toggle {
    border: none;
    background: none;
    margin-left: auto;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 4px auto;
}

/* Hide the logo on small screens */
@media (max-width: 767px) {
    #logo-img {
        display: none;
    }
}

/* Hide the navbar toggle button on medium and large screens */
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.heading-container {
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 0;
}

.page-heading {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: black;
    text-shadow: 1px 1px 1px gray;
}

/* Styling for tall section */
.tall-section {
    background-color: #896A4D;
    display: flex;
    justify-content: center;
    height: 1000px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.tall-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tall-section p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}