/* Styling margin, padding and box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for general elements */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Container should contain all three columns with some padding and max with */
.columns_container {
    max-width: 100%;
    margin: 0;
    padding: 30px;
    text-align: center;
    overflow: hidden;
}

/* Styling for h1*/
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling for column -default, large device- */
.column {
    float: left;
    width: 30%;
    min-height: 300px;
    padding: 10px;
    position: relative;
    background-color: #ccc;
    margin: 1%;
    margin-bottom: 20px;
    border: 1px solid black;
}

/* Styling for text, should not overlap titles */
.column p {
    margin-top: 30px;
    padding: 10px;
}

/* Styling for elements with column_title class */
.column_title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border: 1px solid #000;
    font-weight:  bold;
}

/* Darken second column title by 10% */
.columns_container .column:nth-child(2) .column_title {
    background-color: #d9d9d9;
}

/* Darken third column title by 20% */
.columns_container .column:nth-child(3) .column_title {
    background-color: #bfbfbf;
}

/* Mediaqueries for medium devices */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .column {
        float: left;
        width: 45%;
        margin: 1%;
    }
    /* Third column will take the entire row */
    .columns_container .column:nth-child(3) {
        width: 100%;
        margin: 1%;
    }
}

/* Media queries for small devices (below 768px) */
@media only screen and (max-width: 767px) {
    .column {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}