body {
    background-color: #896A4D;
}

/* Font styling form Google fonts */
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }